<app-header></app-header>
<div class="block_container">
    <div>
        <mat-form-field class="field" appearance="outline">
            <mat-label class="label">Search JOB</mat-label>
            <input matInput class="input" (keyup)="onKey($event)">
            <mat-icon matSuffix><i class="material-icons">
                    search
                    </i></mat-icon>
        </mat-form-field>
    </div>
    <div>
        <mat-paginator [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = OnPageChange($event)">
        </mat-paginator>
    </div>
</div>
<div class="container">
    <app-card *ngFor='let job of jobs' [job]=job (addToWishList)=addToWishList($event) (updateBookmark)=updateBookmark($event)></app-card>
</div>